<form id='search-form' action="/account/getByName" method="get" class="bg-dark text-light rounded">
    <div class="mb-3">
        <label for="user-search-input" class="form-label">Името на потребителя</label>
        <input type="text" class="form-control" name='username' id="user-search-input">

    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-info">Търси</button>
    </div>

</form>

<p class="fs-1 w-100 text-center">
    Резултати
</p>

<div class="table-responsive">
    <table id='search-results-table' class="w-100 table table-dark text-center align-middle">
        <thead>
            <tr>
                <th scope="col">Име</th>
                <th scope="col">Приоритет</th>
                <th scope="col">Права</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{{{{Raw}}}}
<!--Handlebars templates-->
<script id='right-show-element' type="text/x-handlebars-template">
 <li class="list-group-item bg-dark text-light d-flex flex-column justify-content-evenly me-2">
    <span>{{rightToText this.actionCode}}</span>
    <span>
        <form data-form-selector='deleteRight' action="/account/deleteRight"  method="post">
            <input type="hidden" name="right_id" value="{{this.id}}">
            <input type="hidden" name="user_id" value="{{user.id}}">
          
            <button type="submit" class="btn btn-danger w-100">Изтрий</button>

        </form>
        <div onclick="SearchForGiver(this)" role="button" data-right-giver-id='{{this.GiverId}}' class="text-secondary mt-1">
            <ins> Кой даде това право? </ins>
        </div>
    </span>
  </li>
</script>

<script id='user-table-row' type="text/x-handlebars-template">
{{#each users}}
<tr>
    <th scope="row">{{this.username}}</th>
    <td>
        <div class="forms-priority-container d-flex flex-row align-items-center">
            <div class="form-priority-result text-center align-middle fs-3 me-3 h-100">
                {{this.Prioritiy.priority}}</div>
            <div class="d-flex flex-column">
                <form data-form-selector='changePriority' action="/account/changePriorityUp" method="post">
                    <input type="hidden" name="id" value="{{this.Prioritiy.id}}">
                    <input type="submit" value="△">
                </form>
                <form data-form-ajaxable='true' action="/account/changePriorityDown" method="post">
                    <input type="hidden" name="id" value="{{this.Prioritiy.id}}">
                    <input type="submit" value="▽">
                </form>
            </div>
        </div>
    </td>
    <td>
        <ul class="d-flex w-auto justify-content-center">
            {{#each this.Rights}}
           
               {{> RightBlock user=..}}
           
            {{/each}}
            <li class="list-group-item bg-dark text-light list-group-item bg-dark text-light d-flex flex-column align-items-start justify-content-evenly">
                <span>
                    Избери право за добавяне
                </span>
                <form data-form-selector='addRight' action="/account/addRight" method="post">
                    <input type="hidden" name="user_id" value="{{this.id}}">
                    <div class="d-flex flex-row">
                        <select name='right_code' class="form-select" aria-label="Default select example">
                            <option hidden></option>

                            {{#each ../rights}}
                            <option value="{{@key}}">{{this}}</option>
                            {{/each}}

                        </select>
                        <button type="submit" class="btn btn-danger ms-3">Дай</button>

                    </div>

                </form>

            </li>
        </ul>

    </td>
</tr>
{{/each}}
</script>
{{{{/Raw}}}}