<input id='tvId' type="hidden" name="tvId" value="{{tv.Id}}">

<h1 class="text-center">{{tv.name}}</h1>

<div class="player-wrapper">
    <div id='player-overlay' class="d-flex justify-content-center align-items-center d-none">
        <div>
            <h3> Не успяхме да заредим това видео</h3>
        </div>
    </div>
    <div id="player"></div>


</div>

<hr>

<div class="col-sm-12 mx-auto mt-3 d-none d-lg-flex justify-content-center">
    <input class="w-50 mx-auto" type="text" name="tvName"
        placeholder="Оставете празно ако това е не е устройство за показване">
</div>

<hr>

<div>
    <h1 class="text-center">УПРАВЛЕНИЕ</h1>
    <div class="fs-4 text-center">
        Позиция на видео:<span id='video-position'></span>
    </div>
    <div id="controls-row" class="row mt-3">
        <div class="col-md-4 col-sm-12 d-flex justify-content-evenly">
            <button class="btn btn-dark" onclick="ButtonControllClick(this)" data-action='LoadFirst'>
                <span>Първи</span>
                <br>
                <i class="bi bi-skip-start"></i>
            </button>
            <button class="btn btn-dark" onclick="ButtonControllClick(this)" data-action='LoadPrevious'>
                <span>Назад</span>
                <div class="flip-x">
                    <i class="bi bi-forward"></i>
                </div>

            </button>
        </div>
        <div class="col-md-4 col-sm-12  d-flex justify-content-evenly">


            <button class="btn btn-dark me-2" onclick="ButtonControllClick(this)" data-action='DownVolume'>
                <span>Намали звук </span>
                <br> <i class="bi bi-volume-down"></i></button>


            <button id='PlayerStateToogler' class="btn btn-dark" onclick="ButtonControllClick(this)"
                data-action='TooglePlayerState'>
                <span>Старт</span>
                <br>
                <i class="bi bi-pause-btn d-none"></i>
                <i class="bi bi-play-btn "></i>
            </button>

            <button class="btn btn-dark ms-2" onclick="ButtonControllClick(this)" data-action='UpVolume'>
                <span>Увеличи звук</span>
                <br> <i class="bi bi-volume-up"></i></button>



        </div>
        <div class="col-md-4 col-sm-12  d-flex justify-content-evenly">
            <button class="btn btn-dark" onclick="ButtonControllClick(this)" data-action='LoadNext'>
                <span>Напред</span>
                <br> <i class="bi bi-forward"></i></button>
            <button class="btn btn-dark" onclick="ButtonControllClick(this)" data-action='LoadNewest'>
                <span>Нов</span>
                <br> <i class="bi bi-skip-end"></i></button>
        </div>

        <div class="col-sm-12 d-flex justify-content-evenly">
            <button id="ToogleMuteButton" class="btn btn-dark w-100" onclick="ButtonControllClick(this)"
                data-action='ToogleMute'>
                <span>Изключи звук</span>
                <br>
                <span class="d-none">🔊</span>
                <span>🔇</span>
            </button>
        </div>

        <div class="col-sm-6 d-flex justify-content-evenly">
            <button id="RefreshPageButton" class="btn btn-dark w-100" onclick="ButtonControllClick(this)"
                data-action='RefreshPage'>
                <span>Поднови страницата</span>
                <br>
                <div class="bi bi-arrow-clockwise d-block"></div>
            </button>
        </div>

        <div class="col-sm-6 d-flex justify-content-evenly">
            <button id="GetStatesButton" class="btn btn-dark w-100" onclick="ButtonControllClick(this)"
                data-action='GetStates'>
                <span>Получи състояния</span>
                <br>
                <i class="bi bi-arrow-down-circle"></i>
            </button>
        </div>

    </div>
    <div class="col-sm-12" id='StatesReults'>

    </div>
</div>

{{{{Raw}}}}
<script id='tv-state-cards' type="text/x-handlebars-template">
{{#each states}}
{{log this}}
       <div class="col-sm-6 col-md-4 col-lg-3 mt-2 h-fit" >
           <div class="card">
            <img src="https://img.youtube.com/vi/{{this.CurrentVideoID}}/hqdefault.jpg" loading="lazy" class="card-img-top w-100" alt="Preview">
                <div class="card-body h-fit">
                  <div class="card-title">Екран: {{this.Name}}</div>

                  <div>Сила на звук е {{Volume}} и той е {{#if IsMuted}}изключен{{else}}включен{{/if}}.</div>
                  <div>Показва се {{CurrentVideoPosition}} в опашката и то e {{PlayerStateToText PlayerState}} на {{Seconds}} секунда.</div>

                </div>
           </div> 
        </div>
{{/each}}
</script>
{{{{/Raw}}}}